@page
@model SitesApp.Pages.ViewPages
@using Entities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sites - Tom Gora B01665261</title>
</head>

<body>
    <h1>@Model.Heading</h1>
    <h2>@Model.BannerID</h2>
        <ul>    
        @foreach (Site s in @Model.Sites)
        {
      <li>@s.ID&nbsp; &nbsp; &nbsp; @s.SiteName &nbsp;&nbsp;&nbsp; <a href='@s.URL'>@s.URL</a></li>
        }
    </ul>
</body>

</html>
